<link rel="stylesheet" href="styles/infobar.css">
<div class="infopage">

    <p href="kontakt.html">Kontakt</p>
    <p href="index.html">NewsLetter</p>
    <p href= #NewsLetter id="NewsLetter">Pretplati se</p>

</div>