<div class="topnav">
    <link rel="stylesheet" type="text/css" href="styles/navbar.css">
    <div>
        <a class="active" href="index.html">
            <img src="images/logo.png" class="toolbar-img-logo" alt="logo" />
        </a>
    </div>
    <h2 id="odabrana_kategorija">Odabrana kategorija :</h2>
    <div>
        <div class="shoppingcart">
            <span id="span_cart"></span>
            <a href="cart.html">
                <img src="images/shopping_cart_2.png" alt="shopping_cart" class="toolbar-img" />
            </a>
        </div>
        <a href="index.html">
            <img src="images/search_icon_2.png" alt="search" class="toolbar-img" />
        </a>
    </div>
</div>