<link rel="stylesheet" href="styles/product-items.css">
<div class="shop-items" id="shop-items">
    
    <ul id = "product-items">

    </ul>

</div>

<script defer src="scripts/products.js"></script>