<div class="shop-items" id="shop-items">

    <form action="home/getProducts/kruh_1" method="post">
        <input type="hidden" name = "id" value="kruh_1">
        <span class = "">12</span>
        <!---
        
            <img src="images/green_checkmark.png" alt="test_item">
        
        
        -->
        <p>testname</p>
        <input type="submit" value="add to cart">
    </form>

    <form action="home/getProducts/kruh_2" method="post">
        <input type="hidden" name = "id" value="pizza_1">
        <span class = "">12</span>
        <!---
        
            <img src="images/green_checkmark.png" alt="test_item">
        
    
        -->
        <p>testname</p>
        <input type="submit" value="add to cart">
    </form>



</div>