<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/cart.css">
    <script src="scripts/cart.js"></script>
</head>
<body>
    <%- include('partials/navbar.ejs') %>

<section class="body">
    <div class="zaglavlje">
        <h1>Vaši proizvodi</h1>
    </div>

    <div class="proizvodi">
        <ul id="shopping_cart_items">

        </ul>
    </div>
    </section>

</body>
</html>