<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/home.css">
    <title>Document</title>
    <script defer src="scripts/home.js"></script>
</head>
<body>
    <%- include('partials/navbar.ejs') %>


    <div class = "main-body">

            <div class="categories">
                <button onclick="sendCategoryRequest('/home/categories/Bread')">Kruh</button>
                <button onclick="sendCategoryRequest('/home/categories/Burgers')">Burgeri</button>
                <button onclick="sendCategoryRequest('/home/categories/Chicken')">Piletina</button>
                <button onclick="sendCategoryRequest('/home/categories/Coockies')">Keksi</button>
                <button onclick="sendCategoryRequest('/home/categories/Fish')">Riba</button>
                <button onclick="sendCategoryRequest('/home/categories/Muffins')">Muffini</button>
                <button onclick="sendCategoryRequest('/home/categories/Pasta')">Tjestenina</button>
                <button onclick="sendCategoryRequest('/home/categories/Pizza')">Pizza</button>
                <button onclick="sendCategoryRequest('/home/categories/Ramen')">Ramen</button>
                <button onclick="sendCategoryRequest('/home/categories/Sandwich')">Sendvič</button>
            </div>
            
            <div class = "welcome-page" id = "welcome-page"></div>
        
            <%- include('partials/infobar.ejs') %>
            <%- include('partials/products.ejs') %>
    </div>






</body>
</html>